.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  .main {
    padding-top: 56px;
    display: flex;
    flex: 1;
    width: 100%;
    background: #f9f9f9;
    flex-direction: column;
    padding-left: 56px;
    @media screen and (max-width: 960px) {
      max-width: 90%;
      margin: 0 auto;
      flex-direction: column;
      padding-left: 0px;
    }
  }
}
